* {
  padding: 0;
}
.contain-item {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
a {
  text-decoration: none;
  color: #000;
}
.icon-img,
.title-name {
  padding: 10px;
}
.icon-img {
  flex-basis: 38.4px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}
.icon-img i {
  color: #555;
}
.title-name {
  flex-grow: 1;
  white-space: nowrap;
}
.title-name .logo {
  color: red;
  font-size: 1.3rem;
}
.title-name .page-name {
  font-size: 1.3rem;
  font-weight: bold;
}

.channel:hover {
  background-color: #ccc;
}
.channel:active i {
  color: rgb(255, 46, 46);
}
.channel:active .title-name {
  text-shadow: 0 0 1px black;
}
.nav .icon-img:hover {
  padding: 10px 0;
  background-color: #ccc;
  border-radius: 50%;
}
