header {
  display: flex;
  background-color: rgba(255, 255, 255, 0.9);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header .search {
  flex-basis: 700px;
}
@media screen and (max-width: 610px) {
  header .search {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  header .option-info .option {
    display: none;
  }
}
