.option-info {
  width: 250px;
  justify-content: flex-end;
}
.option-info .icon-img:hover {
  background-color: #ccc;
  border-radius: 50%;
}
.account img {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.option-info .account:hover {
  background-color: transparent;
}
