body {
  margin: 0;
}
.wrapper {
  /* padding-top: 64px; */
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}
.side-bar {
  overflow: hidden;
  flex: 0 1 220px;
  margin-top: 64px;
}
.side-bar::-webkit-scrollbar {
  width: 7px;
}
.main-content::-webkit-scrollbar {
  width: 15px;
}
.side-bar::-webkit-scrollbar-thumb {
  background: #ccc;
}
.main-content::-webkit-scrollbar-track {
  background: #ccc;
}
.main-content::-webkit-scrollbar-thumb {
  background: #aaa;
}
.side-bar:hover,
.main-content {
  overflow-y: scroll;
}
.side-bar hr {
  border-top: 1px solid #ddd;
}
.side-bar .title-category {
  padding: 10px 20px;
  margin: 0;
  text-transform: uppercase;
  font-size: 0.85em;
  letter-spacing: 0.1px;
  color: #555;
}
.side-bar .policy {
  padding: 0 30px 30px 20px;
  font-size: 0.9em;
  font-weight: bold;
  color: #777;
}
.side-bar .copyright {
  padding-left: 20px;
  font-size: 0.9em;
  color: #999;
}
.main-content {
  display: flex;
  flex: 1 1;
  background-color: #eee;
  flex-wrap: wrap;
  padding: 74px 0 10px 0;
  justify-content: center;
}
.main-content .video-item {
  flex: 1 1 0;
  min-width: 260px;
  max-width: 400px;
  margin: 0 10px 10px 10px;
}

@media screen and (max-width: 768px) {
  .side-bar {
    display: none;
  }
}
