body {
  margin: 0;
}
.wrapper {
  padding-top: 64px;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
}
.wrapper > div {
  overflow: hidden;
}
.wrapper > div:hover {
  overflow-y: scroll;
}
.side-bar {
  flex: 0 1 200px;
}

.main-content {
  flex: 1 1;
  background-color: #eee;
}

@media screen and (max-width: 480px) {
  .side-bar {
    display: none;
  }
}
